//overwritten bootstrap vars.

.btn {
    margin: 0;
    padding: 0;
    border: none !important;
}

.btn-primary {
    background-color: $primary;
    border: none !important;
}

.btn-primary:hover {
    background-color: $light;
    @include btnGrowSizeTransform;
    border: none !important;
}

.btn-primary:focus,
.btn-primary:active {
    box-shadow: none !important;
    outline: 0px !important;
    background-color: rgba(0, 255, 0, 0) !important;
    color: none !important;
}

#logoutBtn {
    position: absolute;
    background: url(/assets/SVG/button1.svg)no-repeat center center;
    bottom: -30px;
    left: 0px;
    @include textBtnsSvgValues;
    @include svgShadow;
}

#nukeDatabaseContainer {
    z-index: 999999;

    #nukeDatabase {
        width: 150px;
        filter: drop-shadow(0 10px 4px rgba(0, 0, 0, 0.2));
    }

    #nukeDatabase:hover {
        transform: scale(1.5);
    }
}

#closeNotificationContainer {
    position: relative;
}

#closeNotification {
    position: absolute;
    left: -10px;
    bottom: -20px;
    background: url(/assets/SVG/closeBtn.svg)no-repeat center center;
    @include IconBtnsSmallSvgValues;
    @include svgShadow;
}


// closePostFormContainer {
//     position: relative;
// }

#closePostForm {
    position: absolute;
    left: -10px;
    top: -20px;
    background: url(/assets/SVG/closeBtn.svg)no-repeat center center;
    @include IconBtnsSmallSvgValues;
    @include svgShadow;
}


#postBtn {
    position: absolute;
    background: url(/assets/SVG/button2.svg)no-repeat center center;
    bottom: 40px;
    left: -25px;
    @include textBtnsSvgValues;
    @include svgShadow;
}

.postIt {
    position: relative;

    .editBtn {
        background: url(/assets/SVG/button2.svg)no-repeat center center;
        position: absolute;
        right: -20px;
        top: -10px;
        @include textBtnsSvgValues;
        @include svgShadow;
    }

    .deleteBtn {
        background: url(/assets/SVG/deleteBtn.svg)no-repeat center center;
        @include IconBtnsBigSvgValues;
        @include svgShadow;
        position: absolute;
        right: -10px;
        bottom: -20px;
    }

    #saveEditsBtn {
        background: url(/assets/SVG/saveBtn.svg)no-repeat center center;
        @include IconBtnsBigSvgValues;
        @include svgShadow;
        position: absolute;
        right: -10px;
        bottom: -20px;
    }

    #abortEditBtn {
        background: url(/assets/SVG/backBtn.svg)no-repeat center center;
        @include IconBtnsBigSvgValues;
        @include svgShadow;
        position: absolute;
        left: -10px;
        top: -20px;
    }
}


@media only screen and (max-width: 991px) {
    #nukeDatabaseContainer {
        position: absolute;
        right: -5rem;
    }
}
#registerBtn {
    margin-left: 00.5rem;
    background: url(/assets/SVG/button1.svg)no-repeat center center;
    @include textBtnsSvgValues;
    @include svgShadow;
}

#loginBtn {
    margin-left: 00.5rem;
    background: url(/assets/SVG/button2.svg)no-repeat center center;
    @include textBtnsSvgValues;
    @include svgShadow;
}