<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post it note</title>
</head>
<body>
    <h1>Hio</h1>
    <ul>
        <% result.forEach(function(a) { %>
          <li class="<%= a.category %>">
            <strong><%= a.name %></strong>
            <br>
          class="<%= a.category %>">
            <strong>ID: <%= a.id %></strong>
          </li>
        <% }); %>
      </ul>
</body>
</html>