<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loginto postitnote</title>
    <link rel="stylesheet" href="/css/main.min.css">
</head>
<body>
    <h1> <%= anwser %></h1>
    <h2>Login</h2>
    <form action="/user/login" method="POST">
      <input type="name" name="name" placeholder="name" required>
      <input type="password" name="password" placeholder="password" required>
      <button type="submit">Login</button>
      <div>
      <a href="/user/register">register</a>
      </div>
    </form>

</body>
</html>